body{
  background: #232323;
}

h1{
  color: #ffffff;
}

span{
  color: black;
}

.container{
  max-width: 60%;
  margin: 0 auto;
}

.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%
}

.dashBoard{
  background: white;
  height: 25px;
  text-align: center;
  color: black;
}

.button{
}

.GameName{
  background: rgb(126, 126, 126);
  height: 50px;
}
